@import "_reset.css";

body {
    background-color: rgb(137, 212, 188);
    margin-right: 30px; 
}

header {
    margin-left: 10px;
}

.navigation_list {
text-align: right;
}

.navigation_list li {
    display: inline-block;
    box-sizing: border-box;
    text-transform: none;
    margin-right: 15px;
    padding: 15px;
    background: linear-gradient(60deg,rgb(20, 225, 240), rgb(46, 74, 77));
    box-shadow: 2px 2px 16px rgba(46, 65, 59);
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 20px 0 20px 0;
}

.navigation_list li:active {
    transform: translateY(10px);
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: large;
}

aside {
    float: left;
    width: 310px;
    background-color: rgb(100, 164, 144);
    height: 100%;
    color: aliceblue;
    padding-left: 10px;
    padding-bottom: 600px;
    padding-top: 20px;
    box-shadow: 2px 2px 16px rgb(46, 65, 59);
}

.my_photo {
    width: 300px;
    float: left;
    border: solid white;
    border-radius: 20px 0 20px 0;
    margin: 0px 0px 15px 0px;
}

main {
    height: 100%;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 35px;
    box-shadow: 0px 1px 9px 5px rgb(33, 65, 39);
    float: right;
}

.section__main {
    border-bottom: 2px solid rgb(164, 157, 152);
}

h3{
    text-decoration-line:underline;
}

h1 {
    text-align: center; 
    font-size: 50px;
}

h2 {
   margin-left: 30px; 
   margin-bottom: -10px;
}

h3 {
    margin-bottom:-10px;
}

p {
    margin-bottom: 0px;
}
